---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const blogs = await getCollection("blogs");

  return blogs.map((blog) => ({
    params: { id: blog.slug },
    props: { blog },
  }));
}

const { blog } = Astro.props;
const { data, slug } = blog;
const { title, author, readtime, date, finished } = data;
const { Content } = await render(blog);

const from = Astro.url.searchParams.get("from") || "home";
const backLink = from === "blogs" ? "/blogs" : "/";
---

<Layout title={`${title} - Blog`}>
  <a
    href={backLink}
    class="text-white opacity-80 hover:underline hover:text-gray-300 self-start"
  >
    ← Volver Atrás
  </a>
  <main
    class="w-full flex flex-col items-start justify-start min-h-screen max-w-3xl mx-auto px-6 py-10"
  >
    <header class="mb-6">
      <h1 class="text-4xl font-bold">{title}</h1>
      <p class="text-slate-500 mt-2">
        Autor: <span class="font-semibold">{author}</span> · {
          date.toLocaleDateString()
        } · ⏳ {readtime} min de lectura
      </p>
    </header>

    {
      !finished && (
        <div class="bg-yellow-100 text-yellow-800 p-4 rounded-lg mb-6">
          <strong>⚠️ WIP:</strong> Este blog aún está en desarrollo.
        </div>
      )
    }

    <article
      class="prose dark:prose-invert prose-h1:font-bold prose-h1:text-2xl prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl w-full"
    >
      <Content />
    </article>
  </main>
</Layout>
