---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const blogs = await getCollection("blogs");
---

<Layout title="Mis blogs">
  <a
    href="/"
    class="text-white opacity-80 hover:underline hover:text-gray-300 self-start"
  >
    ← Volver Atrás
  </a>
  <div class="main-content">
    <h1 class="leading-normal text-3xl font-extrabold pb-4">
      Todos mis blogs:
    </h1>
    <div class="px-4 mx-auto max-w-screen-xl">
      <div class="grid gap-6 md:grid-cols-1">
        {
          blogs
            .sort((a, b) => {
              const dateA = new Date(a.data.date).getTime();
              const dateB = new Date(b.data.date).getTime();
              return dateB - dateA;
            })
            .map((blog) => {
              const { slug, data } = blog;
              const { title, author, readtime, description, date, finished } =
                data;
              return (
                <article class="flex flex-col gap-2 p-4 border rounded-lg shadow-sm bg-white dark:bg-gray-900">
                  <a href={`/blog/${slug}`} class="hover:underline">
                    <h3 class="text-xl font-bold text-gray-900 dark:text-gray-100">
                      {title}
                    </h3>
                  </a>
                  <p class="text-sm text-gray-700 dark:text-gray-300">
                    Autor: {author} · {new Date(date).toLocaleDateString()}
                  </p>
                  {!finished && (
                    <span class="text-yellow-600 font-semibold">⚠️ WIP</span>
                  )}
                  <p class="text-gray-800 dark:text-gray-200">{description}</p>
                  <span class="text-xs text-gray-600 dark:text-gray-400">
                    ⏳ Lectura en {readtime} minutos
                  </span>
                </article>
              );
            })
        }
      </div>
    </div>
  </div>
</Layout>
