---
// Blog.astro
import Layout from "../layouts/Layout.astro";
import RoundedImage from "../components/RoundedImage.astro";
import ActionIcons from "../components/ActionIcons.astro";
import { getCollection, render } from "astro:content";

const blogs = await getCollection("blogs");

const introCollection = await getCollection("intro");
const intro = introCollection[0]; // Obtén el primer archivo de la colección
const { Content } = await render(intro);
---

<Layout title="El Blog de Lucas Deprit">
  <main class="main-content">
    <div
      class="flex flex-col gap-4 md:flex-row md:justify-between items-center"
    >
      <div class="flex items-center gap-4">
        <RoundedImage
          src="/images/profile_picture.jpeg"
          alt="Avatar de usuario"
          size="90px"
        />
        <h1 class="leading-normal text-3xl font-extrabold">
          [Lucas Deprit]
          <span class="block">
            <div class="flex flex-row gap-4 items-center">
              &#128104;&#8205;&#128187; Blog
              <ActionIcons />
            </div>
          </span>
        </h1>
      </div>
      <a
        href="/blogs"
        class="hover:underline hover:text-slate-500 font-bold text-xl md:text-base"
      >
        [MIS BLOGS]
      </a>
    </div>

    <section aria-label="Blog posts">
      <h2 class="text-2xl font-bold mb-4 mt-12">Introducción:</h2>
      <div class="max-w-screen-xl">
        <div
          class="prose dark:prose-invert
			prose:text-slate-200
			prose-h1:font-bold prose-h1:text-xl
          prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
          prose-img:mt-0 prose-img:pt-0 prose-img:mb-0 prose-img:pb-0"
        >
          <Content />
        </div>
      </div>
      <h2 class="text-2xl font-bold mb-4 mt-12">Mis últimos blogs:</h2>
      <div class="px-4 mx-auto max-w-screen-xl">
        <div class="grid gap-6 md:grid-cols-1">
          {
            blogs
              .slice(0, 5)
              .sort((a, b) => {
                const dateA = new Date(a.data.date).getTime();
                const dateB = new Date(b.data.date).getTime();
                return dateB - dateA;
              })
              .map((blog) => {
                const { slug, data } = blog;
                const { title, author, readtime, description, date, finished } =
                  data;
                return (
                  <article class="flex flex-col gap-1.5">
                    <a href={`/blog/${slug}`}>
                      <div class="flex flex-col gap-0 leading-tight">
                        <h2 class="text-xl font-bold hover:underline hover:text-gray-500">
                          {title}
                        </h2>
                        <h3 class="text-sm text-slate-500">
                          Autor: {author} - {date.toLocaleDateString()}
                          {!finished ? <span>⚠️ WIP</span> : <p />}
                        </h3>
                      </div>
                    </a>
                    <div class="flex flex-col gap-1.5 mb-2">
                      <p class="max-w-sm">{description}</p>
                      <span class="text-xs text-slate-500">
                        {" "}
                        &#x23F3; Lectura en {readtime} minutos
                      </span>
                    </div>
                  </article>
                );
              })
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
